<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ PARCIAL }}!
  </h1>
  <h2>ALEXANDRA ORTEGA CUBILLOS</h2>
 <p>alexandra-ortegac@unilibre.edu.co</p>

 <table>
  <thead>
  <th>Nombre</th>
  <th>Distancia Sol</th>
  <th>Cantidad lunas</th>
  <th>Masa</th>
  <th>Anillos</th>

  </thead>
  <tbody>
  <tr *ngFor="let plan of planetas" [ngSwitch]="plan.anillos">
  <td>{{plan.nombre}}</td>
  <td>{{plan.distancia}}</td>
  <td>{{plan.lunas}}</td>
  <td>{{plan.masa}}</td>
 
    <span *ngSwitchCase=1>Si Rocoso</span>
    <span *ngSwitchCase=2>No Rocoso</span>
   
  </tr>
  </tbody>
  </table>
 


</div>


<router-outlet></router-outlet>
